---
const { title, img, alt, text } = Astro.props;

---

<div class="service ">
  <div class="service__img">
    <img src={img} alt={alt} />
    <div class="service__details">
      <h3>{title}</h3>
      <p>
        {text}
      </p>
    </div>
  </div>
</div>

<!-- <li class="products__product js-product-item">
  <div class="product__card">
    <div class="products__img">
      <img src="${product.image}" />
      <div class="products__actions">
        <button class="btn btn--full btn--success js-btn-add-product" data-product-id="${product.id}">
              Add to Cart  <i class="fa-solid fa-cart-plus"></i>
        </button>
      </div>
    </div>
    <div class="product__info">
      <span>${product.name}</span>
      <span><i class="fa-solid fa-boxes-stacked"></i> ${product.quantity}</span>
      <span><i class="fa-regular fa-money-bill-1"></i> ${product.price}</span>
    </div>
  </div>
</li> -->